/*--colores--*/
/*--COLORES--*/ /*--FUENTES--*/ /*--FOOTER--*/
footer {
  background-color: #366775;
}

.final {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

#contactanos {
  font-family: "Open Sans", sans-serif;
}

ul li {
  list-style: none;
  left: 20px;
}

/*--FORMULARIO DE CONTACTO--*/
.Contact {
  display: flex;
  justify-content: center;
}

form {
  font-family: "Open Sans", sans-serif;
  font-size: large;
  font-weight: bold;
  border-radius: 50px;
  width: 70%;
  margin: 1em;
  display: grid;
  grid-template-areas: "contact contact" "name email" "mensaje mensaje" "none enviar";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 40px 300px 40px;
  gap: 10px;
}

.TextContact {
  grid-area: contact;
  border: 2px solid #d66d50;
  text-align: center;
}

.item1 {
  grid-area: name;
  width: 100%;
}

.item2 {
  grid-area: email;
  width: 100%;
}

.item3 {
  grid-area: mensaje;
  width: 100%;
}

.item4 {
  grid-area: enviar;
  width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Open Sans", sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: "Open Sans", sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 600px) {
  .TextContact {
    font-size: medium;
  }
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/*------------------header----------------------*/
header {
  width: 100%;
  height: auto;
  position: relative;
  background-color: white;
}

/*------------------header----------------------*/
/*------------------bootstrap-----------------*/
.nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
}
.nav .navegador {
  display: inline;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: x-large;
}
.nav .navegador a {
  display: inline;
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: x-large;
}
.nav .navegador a:hover {
  color: blue;
}

/*------------------bootstrap-----------------*/
/*------------------galeria----------------*/
.galery {
  margin-top: 1rem;
}
.galery .row {
  margin-bottom: 2rem;
}
.galery .col {
  margin: 20px;
}

/*-----------------galeria------------------*/
.estilotexto, .taller-text, .galery-text {
  background-color: #f7d0cb;
  margin-top: 0.5rem;
  margin-right: 40px;
  margin-left: 40px;
}
.estilotexto p, .taller-text p, .galery-text p {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  color: #b04629;
}

.galery-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.taller-text a {
  color: #b04629;
}
.taller-text a:hover {
  color: blue;
}

/*-----------------informacion index--------------*/
#nosotros {
  color: black;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  font-size: 30px;
}
#nosotros h1 {
  text-align: center;
  font-weight: bold;
}
#nosotros p {
  text-align: center;
}

/*-----------------informacion index---------------*/
/*--------------------Estilos titulos de paginas---------------------*/
.line {
  height: 3px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #d66d50;
}

.estilos, #galeria h1, #talleres h1, #escuela h1 {
  font-family: "Open Sans", sans-serif;
  color: black;
  text-align: center;
  font-weight: bold;
}

/*--------------------Estilos titulos de paginas---------------------*/
/*-------------------index--------------------------*/
.container-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.container-flex img {
  margin: 10px;
  height: 250px;
}

.container-inicio {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.container-inicio p {
  font-weight: bold;
}
.container-inicio a:hover {
  color: blue;
}
.container-inicio strong {
  color: #d66d50;
}
.container-inicio .imagenes {
  display: block;
  max-width: 100%;
  height: 400px;
}

/*--------------------------index------------------------------*/
/*----------------------talleres----------------------------*/
.container {
  margin: 1rem;
}
.container .image-container {
  position: relative;
}
.container .image-container img {
  margin: 0.5rem;
  opacity: 1;
  display: block;
  width: 100%;
  height: 250px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.container .image-container .middle {
  transition: 0.1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.container .image-container .text {
  color: #d66d50;
  font-size: 16px;
  padding: 16px 32px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.container .image-container .horarios {
  color: #008080;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.container .image-container:hover img {
  opacity: 0.3;
}
.container .image-container:hover .middle {
  opacity: 1;
}

/*----------------------talleres-------------------------*/
/*---------------------escuela---------------------------*/
.escuela-img {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  margin: 20px;
}
.escuela-img .texto1 {
  background-color: #a2b4c0;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: white;
  font-weight: bold;
  text-align: center;
}
.escuela-img .texto2 {
  background-color: #a2b4c0;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: white;
  font-weight: bold;
  text-align: center;
}
.escuela-img .texto3 {
  background-color: #a2b4c0;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: white;
  font-weight: bold;
  text-align: center;
}
.escuela-img .texto4 {
  background-color: #a2b4c0;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: white;
  font-weight: bold;
  text-align: center;
}
.escuela-img a {
  color: #366775;
  font-weight: bold;
}
.escuela-img a:hover {
  color: blue;
}

@media (max-width: 800px) {
  .escuela-img {
    grid-template-columns: 1fr;
  }
}
/*-----------------------escuela-----------------------*/

/*# sourceMappingURL=style.css.map */
