/*--COLORES--*/

$color366775: #366775;
$colora2b4c0: #a2b4c0;
$colorf7d0cb: #f7d0cb;
$colorf4ac94: #f4ac94;
$colord66d50: #d66d50;
$colorf8cec2: #f8cec2;
$colorccd3cc: #ccd3cc;
$color008080: #008080;
$colorb04629: #b04629;
$colordd6342: #dd6342;