/*--FORMULARIO DE CONTACTO--*/

.Contact {
    display: flex;
    justify-content: center;
}

form {
    font-family:'Open Sans', sans-serif ;
    font-size: large;
    font-weight: bold;
    border-radius: 50px;
    width: 70%;
    margin: 1em;
    display: grid;
    grid-template-areas: 
    "contact contact"
    "name email"
    "mensaje mensaje"
    "none enviar";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 40px 300px 40px;
    gap: 10px;
}

.TextContact{
    grid-area: contact;
    border: 2px solid #d66d50;
    text-align: center;
}
.item1{
    grid-area: name;
    width: 100%;
}
.item2{
    grid-area: email;
    width: 100%;
}
.item3{
    grid-area: mensaje;
    width: 100%;
    
}
.item4{
    grid-area: enviar;
    width: 100%;
}


::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family:'Open Sans', sans-serif ;

}

:-ms-input-placeholder{ /* Internet Explorer 10-11 */
    font-family:'Open Sans', sans-serif
}

::-ms-input-placeholder{ /* Microsoft Edge */
    font-family:'Open Sans', sans-serif ;
}

@media (max-width: 600px) {
    .TextContact {
        font-size: medium;
    }
}